@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}
:root {
    --brand: #ff441f;
    --white: #ffffff;
    --black: #000000;
    --primary-background: #fafaf8;
    --primary-background-dark: #332927;
    --secondary-background-dark: #706967;
    --secondary-background-light: rgba(var(--secondary-background-dark-rgb), 0.5);
    --primary-text-dark: #332927;
    --primary-text-light: #ffffff;
    --primary-text-brand: var(--brand);
    --secondary-text-dark: #706967;
    --secondary-text-light: rgba(var(--secondary-text-dark-rgb), 0.7);
    --primary-border-color: var(--brand);
    --secondary-border-color: rgba(var(--secondary-background-dark-rgb), 0.7);
    --gray-1: #f4f4f4;
    --gray-2: #f8f9fb;
    --gray-3: #e5edef;
    --gray-4: #f9f9f8;
    --gray-5: #f7f7f7;
    --gray-6: #efece9;
    --gray-7: #e5e5e4;
    --gray-8: #e8e7e7;
    --gray-9: #c7c7c7;
    --gray-10: #b8b4b4;
    --gray-11: #9faab7;
    --gray-12: #7d7d7d;
    --gray-13: #333333;
    --gray-14: #332927;
    --gray-15: #404041;
    --gray-16: #6F6F70;
    --blue-1: #ecfcff;
    --blue-2: #1d9ff3;
    --blue-3: #1da1f2;
    --blue-4: #1778f2;
    --blue-5: #35497b;
    --purple-1: #dcdbff;
    --purple-2: #8f8fc1;
    --purple-3: #913cff;
    --purple-4: #980dd9;
    --purple-5: #6816fc;
    --purple-6: linear-gradient(to right, var(--purple-5), var(--purple-3));
    --orange-1: #f8b595;
    --orange-2: #ffe981;
    --orange-3: #ffd559;
    --orange-4: #ff8f57;
    --orange-5: #ff7175;
    --orange-6: #815d39;
    --orange-7: #FB923C;
    --green-1: #d7fffe;
    --green-2: #8bc1c1;
    --green-3: #09bc8a;
    --green-4: #0cc665;
    --green-5: #34D399;
    --red-1: #F87171;
    --pink-1: #ffe1d3;
    --pink-2: #eaceb4;
    --pink-3: #cfaa99;
    --success: #0cc665;
    --success-gradient: linear-gradient(to right, #65e06e, var(--success));
    --alert: #ff7d00;
    --alert-gradient: linear-gradient(to right, #ffa600, var(--alert));
    --error: #ff2425;
    --error-gradient: linear-gradient(to right, #fe6c6c, var(--error));
    --purple-gradient: linear-gradient(135deg, #913CFF 2.73%, #6816FC 102.73%);
    --warning: #f75d63;
    --disable-rgb: rgba(184,180,180,0.25);
    --shadow-input: 0 7px 29px 0 rgba(0, 0, 0, 0.07);
    --brand-bg: linear-gradient(130deg, #ff9259 0%, #ff2426 70%);
    --brand-rgb: #{hexToRGB(#ff441f)};
    --white-rgb: #{hexToRGB(#ffffff)};
    --black-rgb: #{hexToRGB(#000000)};
    --primary-background-rgb: #{hexToRGB(#fafaf8)};
    --primary-background-dark-rgb: #{hexToRGB(#332927)};
    --secondary-background-dark-rgb: #{hexToRGB(#706967)};
    --primary-text-dark-rgb: #{hexToRGB(#332927)};
    --primary-text-light-rgb: #{hexToRGB(#ffffff)};
    --secondary-text-dark-rgb: #{hexToRGB(#706967)};
    --gray-1-rgb: #{hexToRGB(#f4f4f4)};
    --gray-2-rgb: #{hexToRGB(#f8f9fb)};
    --gray-3-rgb: #{hexToRGB(#e5edef)};
    --gray-4-rgb: #{hexToRGB(#f9f9f8)};
    --gray-5-rgb: #{hexToRGB(#f7f7f7)};
    --gray-6-rgb: #{hexToRGB(#efece9)};
    --gray-7-rgb: #{hexToRGB(#e5e5e4)};
    --gray-8-rgb: #{hexToRGB(#e8e7e7)};
    --gray-9-rgb: #{hexToRGB(#c7c7c7)};
    --gray-10-rgb: #{hexToRGB(#b8b4b4)};
    --gray-11-rgb: #{hexToRGB(#9faab7)};
    --gray-12-rgb: #{hexToRGB(#7d7d7d)};
    --gray-13-rgb: #{hexToRGB(#333333)};
    --gray-14-rgb: #{hexToRGB(#332927)};
    --blue-1-rgb: #{hexToRGB(#ecfcff)};
    --blue-2-rgb: #{hexToRGB(#1d9ff3)};
    --blue-3-rgb: #{hexToRGB(#1da1f2)};
    --blue-4-rgb: #{hexToRGB(#1778f2)};
    --blue-5-rgb: #{hexToRGB(#35497b)};
    --purple-1-rgb: #{hexToRGB(#dcdbff)};
    --purple-2-rgb: #{hexToRGB(#8f8fc1)};
    --purple-3-rgb: #{hexToRGB(#913cff)};
    --purple-4-rgb: #{hexToRGB(#980dd9)};
    --purple-5-rgb: #{hexToRGB(#6816fc)};
    --orange-1-rgb: #{hexToRGB(#f8b595)};
    --orange-2-rgb: #{hexToRGB(#ffe981)};
    --orange-3-rgb: #{hexToRGB(#ffd559)};
    --orange-4-rgb: #{hexToRGB(#ff8f57)};
    --orange-5-rgb: #{hexToRGB(#ff7175)};
    --orange-6-rgb: #{hexToRGB(#815d39)};
    --green-1-rgb: #{hexToRGB(#d7fffe)};
    --green-2-rgb: #{hexToRGB(#8bc1c1)};
    --green-3-rgb: #{hexToRGB(#09bc8a)};
    --green-4-rgb: #{hexToRGB(#0cc665)};
    --pink-1-rgb: #{hexToRGB(#ffe1d3)};
    --pink-2-rgb: #{hexToRGB(#eaceb4)};
    --pink-3-rgb: #{hexToRGB(#cfaa99)};
    --success-rgb: #{hexToRGB(#0cc665)};
    --alert-rgb: #{hexToRGB(#ff7d00)};
    --error-rgb: #{hexToRGB(#ff2425)};
    --warning-rgb: #{hexToRGB(#f75d63)};
}
